@import "bootstrap"
@import "bootstrap-responsive"

body

  table
    @extend .table
    @extend .table-hover
    @extend .table-bordered

    thead
      background-color: #eee

td
  vertical-align: middle

  i
    padding-top: 3px
